.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    color: black;
    padding:1.5rem;
    border-top: 1px solid lightgrey;
}

.footer__main {
    display: flex;
    flex-direction: column;
    flex:1.5;
    border: 1px solid red;
}
.footer__main__title, .footer__info__title, .footer__contact__title {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.footer__info__p, .footer__contact__p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1.5;
    border: 1px solid red;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    border: 1px solid red;
}

.footer__main__img {
    max-width: 50%;
}

.footer__band {
    text-align: center;
    font-size: 0.8rem;
    /* font-weight: bold; */
    background-color: lightgrey;
    color: black;
    letter-spacing: 0.02;
    padding: 0.5rem;
}

.footer__social {
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.footer__social__icon {
    width: 30px;
    height: 30px;
}